.wrapperLogin {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapperInputRow {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 320px;
  flex-direction: column;
  padding: 10px 0;
}

.formStyle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 320px;
}

.inputStyle {
  width: 300px;
  height: 40px;
  margin-top: 5px;
  border: 3px solid rgb(80, 114, 251);
  border-radius: 7px;
  box-shadow: 1px 2px 2px 1px;
  &:hover {
    border: 3px solid rgb(27, 153, 27);
  }
  &:focus {
    border: 3px solid rgb(27, 153, 27);
  }
  &:active {
    border: 3px solid rgb(27, 153, 27);
  }
}

.titleStyle {
  color: rgb(80, 114, 251);
  font-weight: 600;
  box-shadow: 1px 2px 2px 1px;
  border-radius: 6px;
  background-color: whitesmoke;
}

.titleStyleSpan {
  color: rgb(80, 114, 251);
  font-weight: 800;
  box-shadow: 1px 2px 2px 1px;
  border-radius: 6px;
  background-color: whitesmoke;
}

.buttonStyle {
  font-size: 20px;
  color: rgb(80, 114, 251);
  border: 3px solid rgb(80, 114, 251);
  border-radius: 8px;
  box-shadow: 1px 2px 2px 1px;
  cursor: pointer;
  width: 105px;
  height: 50px;
  background-color: whitesmoke;
  &:hover {
    border: 3px solid rgb(27, 153, 27);
    background-color: rgb(241, 208, 163);
    color: rgb(27, 153, 27);
  }
  &:focus {
    border: 3px solid rgb(27, 153, 27);
    background-color: rgb(241, 208, 163);
    color: rgb(27, 153, 27);
  }
  &:active {
    border: 3px solid rgb(27, 153, 27);
    background-color: rgb(241, 208, 163);
    color: rgb(27, 153, 27);
  }
}
