.NavBarWrapper {
  background-color: lightpink;
  border: 4px solid papayawhip;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
}

.styleLink {
  height: 25px;
  margin: 10px 5px;
  text-decoration: none;
  font-size: 20px;
  color: green;
  box-shadow: 1px 2px 2px 1px;
  border: 1px solid navy;
  border-radius: 5px;
  background-color: whitesmoke;
  &:hover {
    color: green;
    background-color: beige;
  }
  &:active {
    color: green;
    background-color: beige;
  }
}

.styleList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  list-style: none;
  margin-right: 30px;
}
