.titleStyle {
  color: rgb(80, 114, 251);
  font-weight: 600;
  box-shadow: 1px 2px 2px 1px;
  border-radius: 6px;
  background-color: whitesmoke;
}

.wrapperStyle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 0;
}

.styleLink {
  height: 25px;
  margin: 10px 5px;
  text-decoration: none;
  font-size: 20px;
  color: green;
  box-shadow: 1px 2px 2px 1px;
  border: 1px solid navy;
  border-radius: 5px;
  background-color: whitesmoke;
  &:hover {
    color: green;
    background-color: beige;
  }
  &:active {
    color: green;
    background-color: beige;
  }
}
